<h2>
    <%= Object.keys(data).length ? '' : 'No' %>
    DNS Information for <span class="mono"><%= domain %></span>
</h2>

<% for(let i = 0, types = Object.keys(data); i < types.length; i++) {
    const type = types[i];
    const records = data[type];

    const fields = Object.keys(records.reduce((a, c) => Object.assign(a, c), {})).filter(key => key !== 'type');
%>
    <div class="table-data">
        <table class="table outer">
            <tbody>
                <tr>
                    <th rowspan="1000" class="type"><%= type %></th>
                    <% for(let j = 0; j < fields.length; j++) {
                        const field = fields[j];
                    %>
                        <th><%= {
                          ttl: 'TTL',
                          minttl: 'Minimum TTL',
                          nsname: 'NS Name',
                        }[field] || field.charAt(0).toUpperCase() + field.slice(1) %></th>
                    <% } %>
                </tr>
                <% for(let k = 0; k < records.length; k++) { %>
                    <tr>
                      <% for(let j = 0; j < fields.length; j++) {
                          const field = fields[j];
                      %>
                          <td><%= records[k][field] %></td>
                      <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<% } %>
