<table class="table inner">
    <thead>
        <tr>
            <th>Order</th>
            <th>Preference</th>
            <th>Flags</th>
            <th>Service</th>
            <th>Regexp</th>
            <th>Replacement</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%- record.order %></td>
            <td><%- record.preference %></td>
            <td><%- record.flags %></td>
            <td><%- record.service %></td>
            <td><%- record.regexp %></td>
            <td><%- record.replacement %></td>
        </tr>
    </tbody>
</table>
