<!DOCTYPE html>
<html lang="en">
    <%- include partials/head %>
    <body>
        <%- include partials/header %>
        <div class="container">
            <%- include partials/ad-top %>
            <%- include partials/lookup-form %>

            <% if(typeof data === 'object') { %>
                <%- include partials/results %>
            <% } %>

            <% if(typeof error !== 'undefined') { %>
                <h2>
                    An error is occurred: <span class="mono"><%= error %></span>
                </h2>
            <% } %>

            <%- include partials/ad-partners %>

            <%- include partials/info %>

            <%- include partials/ad-bottom %>
            <footer>
              &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> DNS-Lookup.com &mdash;
              <a href="privacy-policy.html" target="_blank">Privacy</a>
            </footer>
        </div>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69209117-3', 'auto');
        ga('send', 'pageview');

        </script>
        <script type="application/ld+json">{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"What is DNS?","acceptedAnswer":{"@type":"Answer","text":"Domain Name System, or DNS for short, is the protocol that translates readable URLs - dns-lookup.com - into numeric addresses that can be understood by computers. "}}]}</script>
    </body>
</html>
