<table class="table inner">
    <thead>
        <tr>
            <th>Primary</th>
            <th>Admin</th>
            <th>Serial</th>
            <th>Refresh</th>
            <th>Retry</th>
            <th>Expiration</th>
            <th>Minimum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%- record.primary %></td>
            <td><%- record.admin %></td>
            <td><%- record.serial %></td>
            <td><%- record.refresh %></td>
            <td><%- record.retry %></td>
            <td><%- record.expiration %></td>
            <td><%- record.minimum %></td>
        </tr>
    </tbody>
</table>
