
<!DOCTYPE html>
<html lang="en">
<%- include partials/head %>
<body class="container">
    <%- include partials/header %>
    <main>
        <h2><%- data.name %></h2>
        <div class="row">
            <div class="col-sm-12">
                <table class="table outer">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Class</th>
                            <th>TTL</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.records.length) {
                            data.records.forEach(function(record) { %>
                            <tr>
                                <td><%- record.typeStr %></td>
                                <td><%- record.class %></td>
                                <td><%- record.ttl %></td>
                                <td><%- include(`records/${record.typeStr}`, { record }) %></td>
                            </tr>
                            <%})
                        } else { %>
                            <tr>
                                <td colspan="10">No records</td>
                            </tr>
                        <% } %>

                    </tbody>
                </table>

            </div>

        </div>
    </main>
</body>
</html>
